@font-face { 
  font-family: "Bebas Neue";
  font-weight: bold; 
  src: url("../fonts/BebasNeue-Bold.otf");
}

@font-face { 
  font-family: "Montserrat"; 
  src: url("../fonts/Montserrat-Light.otf")
}

@font-face { 
  font-family: "Montserrat-Bold"; 
  src: url("../fonts/Montserrat-Bold.otf")
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #eef2f6;
}

a, a:active, a:hover {
  color: #34b399;
  text-decoration: none;
}

p, blockquote {
  font-family: "Montserrat", sans-serif;
  color: #696e9e;
  font-size: 18px;
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: "Bebas Neue", sans-serif;
  color: #61637F;
}

button,
.article-btn {
  display: block;
  width: 250px;  
  margin: 5px auto 20px auto;
  padding: 8px;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  text-align: center;
  background-color: #34b399;
  color: #fff;
  border-style: none;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.25);
  outline: none;
  transition: 0.2s;
  cursor: pointer;
}

button:hover {
  background-color: #57BFA9;
  box-shadow: 0 0 30px 0 rgba(56,179,153,0.4);
}


.offscreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.logo-wrapper {
  display: flex;
  position: absolute;
  height: 65px;
  align-items: center;
  justify-content: center;
  background-color: #696e9e;
  left: -300px;
  transition: left 0.5s;
}

.logo-wrapper.search-closed {
  left: 0;
}

.logo-wrapper .logo-img {
  display: block;
  height: 50px;
  width: 150px;
  background-position: center;
  background-image: url(../img/front-end-recipes-logo.svg);
  background-repeat: no-repeat;
}

.separator {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #a5aad8;
  margin: 10px 25px 25px 25px;
}

.dark-background{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(20,10,50,0.8);
  z-index: 999;
}

.newsletter-container,
.newsletter-mobile-container{
  display: flex;
  flex-wrap: wrap;
  position: fixed;

  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
  justify-content: center;
  z-index: 1000;
}

.newsletter-mobile-container {
  display: inline-flex;
  width: 100%;
  bottom: 0;
  top: auto;
  background-color: #696e9e;
  z-index: 998;
  transition: 1s;
}

.newsletter-mobile-container.closed {
  position: fixed;
  bottom: -80px;
}

.newsletter-img {
  display: block;
  width: 100%;
  height: 350px;
  margin: -80px -30px -30px;
}

.newsletter-form,
.newsletter-mobile{
  display: block;
  padding: 20px 15px; 
  max-width: 320px;
  margin: 0 25px;
  text-align: center;
  background-color: #696e9e;
}

.newsletter-mobile {

  display: flex;
  margin: auto;
  padding: 15px 10px;
  transition: 1s;
}



.newsletter-text {
  display: block;
  left: 0;
  width: 92%;
  margin: 10px auto;
  font-family: "Montserrat", sans-serif;
  line-height: 19px;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.5px;
  padding-top: 2px;
}

.newsletter-mobile .newsletter-text{
  width: 60%;
  margin: 0 10px 0 0;
}


 .newsletter-form fieldset {
  right: 0;
  width: 50%;
  padding: 0;
  border-style: none;
  text-align: center;
   width: 100%;
   margin-top: 5px;
}

.newsletter-form input,
.search-input {
  width: 250px;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-align: center;
  color: #a5aad8;
  border-radius: 0px;
  border-style: solid;
  border-color: #a5aad8;
  border-width: 3px;
  box-sizing: border-box;
  outline: none;
  
}

.newsletter-form input:focus,
.search-input:focus {
  border-color: #34b399;
  border-style: solid;

}


.newsletter-form .close-form {
  background-color: transparent;
  box-shadow: none;
  width: 100px;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

.newsletter-form .close-form:hover{
  background: rgba(238, 242, 246, 0.2);
  box-shadow: none;

}

.newsletter-mobile button{
  width: 40%;
  margin: 0 10px 0 auto;
}

.top-panel {
  display: inline-flex;
  position: fixed;
  height: 65px;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: #696e9e;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  z-index: 996;
}

.search-form {
  display: flex;
  margin-left: auto;
  margin-right: -50px;
  padding: 5px 0 5px;
}

.search-input {
  width: calc(100vw - 70px);
  right: 0;
  margin-left: auto;
  padding: 12px 45px 12px 20px ;
  border-color: #a5aad8;
  text-align: left;
  transition: 0.5s ease-out;
}

.search-input.search-closed {
  opacity: 0;
  width: 0px;
  padding: 12px 0 12px 0 ;
  text-align: left;
}

.icons-wrapper {
  display: inline-flex;
  right: 0;
  padding: 23px 30px 20px 0;
}

.icon {
  height: 25px;
  width: 25px;
  margin: 0 10px;
  cursor: pointer;
  transition: 0.5s;
}

.icons-wrapper .icon:hover {
  transform: scale(1.2);
}

.icons-wrapper .icon::after {
  content: '';
  display: block;
  position: relative;
  height: 25px;
  width: 25px;
  margin: 0;
  background-size: cover;
  background-position: 0 26px;
}

.link-icon::after {
  background-image: url("../img/link-icon.svg");
}

.icons-wrapper .fb-icon::after {
  background-image: url("../img/fb-icon.svg");
}

.icons-wrapper .twitter-icon::after {
  background-image: url("../img/twitter-icon.svg");
}

.icons-wrapper .yt-icon::after {
  background-image: url("../img/youtube-icon.svg");
}

.icons-wrapper .search-icon::after {
  background-image: url("../img/search.svg");
  background-position: 0 -1px;
}

.icons-wrapper .search-icon.search-closed::after {
  background-position: 0 26px;
}

.v-separator{
  height: 40px;
  margin: -8px 10px 0 10px;
  width: 0;
  border-width: 2px;
  border-color: #a5aad8;
  border-left-style: solid;
}

.tag-icon {
  position: absolute;
  left: 35px;
  width: 35px;
  height: 30px;
  margin-top: -18px;
  background-image: url("../img/tags.svg");
  background-size: cover;
  background-position: 0 94px;
  z-index: 99;
}

.tag-icon.tags-closed {
  position: static;
  background-position: 0 0px;
  margin-top: -8px;
  left: auto;
}

nav ul,
.tags,
.active-tags{
  display:flex;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  line-height: 30px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

nav ul li ,
.tags li {
  margin: 0 20px 0 0;
  font-size: 16px;
  color: #fff;
}

nav ul li a,
.tags li a {
  color: #696e9e;
}
.tags li a::before {
  content: '# ';
  color: lightgray;
}

ul.tags {
  display: block;
  position: absolute;
  background-color: #696e9e;
  width: 270px;
  left: 0;
  padding: 50px 30px 30px;
  top: 80px;
  z-index: 98;
}

.active-tags {
  margin-bottom: 20px;
}

.active-tags a {
  cursor: pointer;
  font-size: 20px;
  margin-right: 20px;
  color: #61637F;

}

.active-tags a:not(.close-icon)::after,
.active-tags .close-icon {
  content: '';
  display:inline-block;
  width: 15px;
  height: 15px;
  margin-left:20px;
  background-image: url(../img/right-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.active-tags .close-icon  {
  background-image: url(../img/close-icon.svg);
  margin-top: 10px;
}

ul.tags.tags-closed{
  display: none;
}

ul.tags a.tag{
  color: #fff;
  cursor: pointer;
}

nav ul {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  justify-content: flex-start;
  
}

nav ul li{
  padding: 5px 10px 2px;
}

nav ul .active {
  background-color: #34b399;
  
}
nav ul li.active a{
  color: #fff;
}
.main {
  position: static;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-left: 0px;
  padding-top: 80px;
}

.main-wrapper {
  padding: 15px 5px 15px 5px;
  min-height: 500px;
}

.item-container,
.no-items {
  display: flex;
  justify-content: center;
  margin: auto;
  color: #696e9e;
}

.no-items {
  padding-top: 40px;
}

.item-collumn {
  width: 90%;
  margin: 10px 10px 15px;
}

.item {
  display: inline-block;
   break-inside: avoid;
  width: 100%;
  min-height: 150px;
  margin: 10px 0 15px;
  padding: 28px 28px 28px;
  box-sizing: border-box;
   text-align: left;
  background-color: #fff;
  border-bottom-style: solid;
  border-width: 7px;
  border-color: #696e9e;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  transition: border 0.3s;
  transition: opacity 1s;
}

.ic2, .ic3, .ic4 {
  display: none;
}

@media only screen and (min-width: 768px) {
  .item-container {
    width: 700px;
  }
  .item-collumn {
    width: 330px;
  }
  .ic2 {
    display: block;
  }
}

@media only screen and (min-width: 1450px) {
 .item-container {
   width: 1050px;
 }
  .ic2, .ic3 {
    display: block;
  }
}

@media only screen and (min-width: 1800px) {
  .item-container {
    width: 1400px;
  }
  .ic2, .ic3, .ic4 {
    display: block;
  }
}

.item:hover {
  border-bottom-color: #34b399;
}


.item h2{
  margin: 0 0 10px 0;
  line-height: 25px;
  overflow:hidden;
}

.item .author{
  display: inline-block;
  font-family: "Montserrat-Bold", sans-serif;
  margin-bottom: 15px;
  color: #34b399;
}

.item .date{
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  margin-bottom: 15px;
  margin-left: 10px;
  color: #696e9e;
}

.item p{
  font-size: 13px;
  line-height: 19px;
  text-overflow: ellipsis;
}

.item .article-btn{
  display: inline-block;
  width: 49%;
  box-sizing: border-box;
  margin: 25px 0 0 0;
  font-size: 14px;
  color: #696e9e;
  background: #EEF2F6;
  box-shadow: none;
}
.item .article-btn:hover{
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.25);
}


.footer {
  height: 50px;
  width: 100%;
  background-color: #fff;
  display: flex;
}

.copywrite {
  margin: auto;
  color: #696e9e;
}

.logo-wrapper {
    width: 250px;
}

.no-desktop {
  display: inherit;
}

@media only screen and (min-width: 768px) {
  
  .main-wrapper {
    padding: 40px 5% 60px 5%;
  }
  
  nav ul{
    justify-content: center;
  }
  
  .logo-wrapper {
    left: 0;
  }

  .search-input,
  .search-input.search-closed {
    display: flex;
    width: 275px;
    padding: 12px 45px 12px 20px ;
    text-align: left;
    opacity: 1;
  }
  
  .icons-wrapper .search-icon {
    margin-right: 25px;
  }
  
  .icons-wrapper .search-icon::after,
  .icons-wrapper .search-icon.search-closed::after {
    background-image: url("../img/search.svg");
    background-position: 0 -1px;
  }
  
  newsletter-img{
    display: block;
  }
  
  ul.tags{
    display: block;
    position: absolute;
    background-color: #696e9e;
    width: 270px;
    left: 0;
    padding-top: 80px;
    top: 80px;
  }
}

@media only screen and (min-width: 1025px) {
  
  .no-desktop {
    display: none !important;
  }
  
  .top-panel {
    height: 80px
  }
  
  
  .logo-wrapper {
    width: 300px;
    height: 80px;
  }
  
  .logo-wrapper .logo-img {
    width: 180px;
  }
  
  .search-input,
  .search-input.search-closed {
    width: 400px;
  }
  .search-form {
    padding: 10px 0 10px;
  }
  .icons-wrapper {
    padding: 30px 30px 20px 0;
  }
  
  .nav-panel {
    height: calc(100% - 80px);
    top: 80px;
    left: 0;
    position: fixed;
    width: 300px;
    background-color: #696e9e;
  }
  
  nav ul {
    margin-left: 30px;
    margin-top: 30px;
    display: block;
  }

  nav ul li {
    padding-bottom: 8px;
    margin: 0;
  }

  nav ul li a {

    color: #fff;
    margin-left: 20px;
  }

  nav ul li a::before {
    content: '';
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    top: 12px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  nav ul li .star-icon::before {
    background-image: url(../img/star.svg)
  }
  
  nav ul li .book-icon::before {
    background-image: url(../img/book.svg)
  }  
  
  nav ul li .education-icon::before {
    background-image: url(../img/education.svg)
  }  
  
  nav ul li .cool-guy-icon::before {
    background-image: url(../img/cool-guy.svg)
  }  
  
  nav ul li .handshake-icon::before {
    background-image: url(../img/hand-shake.svg)
  }  
  
  nav ul li .globe-icon::before {
    background-image: url(../img/globe.svg)
  }  
  
  nav ul li .video-icon::before {
    background-image: url(../img/video.svg)
  }  
  nav ul .active {
    background-color: transparent;

  }
  nav ul .active::before {
    content: '';
    position: absolute;
    display: block;
    left: 0px;
    height: 62px;
    width: 10px;
    background-color: #34b399;
  }

  nav ul .active::after{
    content: '';
    position: absolute;
    display: block;
    right: -30px;
    height: 30px;
    width: 30px;
    margin-top: -30px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #696e9e;
    background-color: transparent;
    box-sizing: border-box;
  }
  
  ul.tags,
  ul.tags.tags-closed {
    display: flex;
    position:static;
    background-color: transparent;
    width: auto;
    padding: 0 20px;
  }

  ul.tags a.tag,
  ul.tags li {
    color: #696e9e;
  }

  .main {
    padding-left: 300px;
  }
  
  .icons-wrapper .icon::after{
    background-position: 0 -1px;
  }
  
  .top-panel {
    background-color: #fff;
  }
  
  .copywrite{
    margin-right: 100px;
  }
  
 .newsletter-container {
    display: inline-flex;
    position: static;
  }
  .newsletter-form{
    padding-left: 0;
    padding-right: 0;
  }
  
 .newsletter-container input {
   margin-top: 10px;
  }
  
}

@media only screen and (max-width: 767px) {
  .no-mobile{
    display: none !important;
  }
}

@media only screen and (max-width: 1024px) {
  .hidden-on-mobile {
    display: none !important;
  } 
  
  .desktop-only{
    display: none !important;
  }
  
  .nav-panel ul{
    flex-wrap: nowrap;
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 20px;
  }
}

@media only screen and (max-height: 375px) {
  .newsletter-container{
    top: 50px;
  }
}